body {
    background-image: url("../misc/images/bg1.jpg");
    background-size: 100%;
    /*background: linear-gradient(to right, #20A4F3    , #2234AE);*/
    /* background: linear-gradient(to bottom right, #733391, #1a0125); */
    margin: 0px;
}

.taskInfo {
    position: relative;

    margin: 5px;

    top: -7px;
}

#dividor {
    border: solid;

    position: relative;

    height: 70%;
    width: 0px;

    top: -80%;
    left: 80%;
}

dt {
    font-family: 'Bebas Neue', sans-serif, Teko;
    font-size: 23px;
    color: rgba(240, 248, 255, 0.902);
    background-image: linear-gradient(45deg ,rgba(17, 84, 0, 1), rgba(0, 0, 0, 0.1));
    background-size: 900%;
    background-position: right;
    border-radius: 3px;
    box-shadow: 10px 10px 40px rgb(0, 0, 0);

    width: auto;
    height: 70px;

    margin: 15px;

    padding-left: 15px;
    padding-top: 10px;
}

dt:hover,
dt:focus {
    background-position-x: 50%;
    transition: transform 350ms ease, background-position 800ms ease-in-out;
    transform: scale(1.03);
}

.taskBtn {
    border: outset;
    font-size: 25px;
    border-radius: 5px;
    border-color: #FF5677;
    color: #FF5677;

    width: 35px;
    height: 35px;

    position: relative;

    left: 90%;
    top: -60px;

    background: transparent
}

#t1 {
    background-image: linear-gradient(to right, rgba(100, 0, 0, 0.9), rgba(0, 0, 0, 0.123));
}

p {
    font-size: 15px;
    font-family: comfortaa;

    margin-top: 0px
}

.desc {
    margin-top: 5px;
}

#title {
    font-family: cursive;
    font-size: 20px;
    text-align: left;
    color: aliceblue;

    width: auto;
    height: 0px;

    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 60px;

    background: linear-gradient(black, rgba(0, 0, 0, 0.046));
}

#SideMenu {
    float: left;

    width: 270px;
    height: 490px;
    
    left: 77%;
    top: 0px;
}

#userInfoTitle {
    float: left;
    top: 15px;
    left: 33%;

    padding: 0px;
}

#taskTitle {
    position: relative;

    left: 35px;
    top: -5px;
}

#line {
    display: flex;
    flex-shrink: 20px;
    float: left;
    color: aliceblue;

    position: relative;

    top: -15px;
    left: 7%;
}

#lineT {
    color: aliceblue;
    border-bottom: solid;
    border-width: 2px;

    height: 20px;
    width: 94%;

    position: relative;

    top: -25px;
    left: -3%;

    float: right;
}
 
#LoginMenu {
    width: auto;
    height: 60%;

    position: relative;

    top: 10px;
}

#ListArea {
    display: flexbox;
    float: right;

    width: 63.5%;
    height: 485px;

    left: -30%;
    top: 0px;

    padding: 0px;

    margin: 0px;
}

.taskInfo {
    font-size: 1.1rem;
    margin-left: 10px;
}

.subTitles {
    font-family: 'Alumni Sans Pinstripe';
    font-weight: 200px;
    color: rgb(211, 214, 216);

    position: relative;
}

.menus {
    border-radius: 5px;
    border: groove;
    border-width: 3.5px;
    border-color: rgba(200, 0, 65, 0.35);
    
    position: relative;
    background: rgba(30, 30, 30, 0.5);
    backdrop-filter: saturate(180%) blur(11px);
}

.inputField {
    color: cornsilk;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    overflow: hidden;
    background-color: transparent;
    border-bottom: solid;
    border-bottom-color: rgb(255, 169, 138);

    width: 78%;
    height: 25px;

    padding: 0px;

    margin-bottom: 60px;
    margin-left: 10%;
}

.outField:focus-within {
    border-color: transparent;
}

.outField::after {
    content: "";
    display: block;

    height: 3px;
    width: 78%;

    position: relative;

    top: -38px;
    left: 27px;
    
    background: linear-gradient(to left, rgb(64, 245, 164), rgb(9, 228, 240));
    /* background-color: rgb(9, 228, 240); */
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 500ms ease;
}

.outField:hover:after {
    transform: scaleX(1);
}

.outField:focus-within:after {
    transform: scaleX(1);
    background: linear-gradient(to left, rgb(64, 245, 164), rgb(9, 228, 240));
}

.inputLabel {
    z-index: -1;
    color: rgb(255, 122, 122);
    font-family: 'Comfortaa', cursive;

    position: absolute;

    left: 25px;

    transform: translateY(2px);
    transform-origin: 0%;
    transition: transform 400ms;
}

#email {
    position: relative;

    top: 25px;
}

#password {
    position: relative;

    top: 25px;
}

.outField:focus-within .inputLabel,
.inputField:not(:placeholder-shown) + .inputLabel {
    transform: scale(0.8) translateY(0.2rem);
}

#email:valid {
    color: '';
}

#email:invalid {
    color: rgb(250, 109, 57);
}

#submit {
    border: none;
    border-radius: 20px;

    height: 35px;
    width: 180px;

    position: relative;

    left: 17%;
    top: 25px;

    background-color: #916BBF;

    transition: background 1s, color 1s;
}

#submit:hover {
    background-color: #350B40;
    color: aliceblue;
}

#alterLink {
    font-family: 'Titillium Web';
    color: darkgray;
    font-size: 15px;

    position: relative;

    bottom: -50px;
    left: 13%;
}

.links {
    border: none;
    color: chocolate;
    
    background: transparent;
}