body {
    /*background: linear-gradient(to right, #20A4F3    , #2234AE);*/
    background-color: bisque;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}

#title {
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    color: aliceblue;

    width: auto;
    height: 0px;

    padding-top: 10px;
    padding-bottom: 60px;

    background: linear-gradient(black, rgb(63, 63, 63));
}

#SideMenu {

    width: 270px;
    height: 490px;
    
    left: 77%;
}

#userInfoTitle {
    font-family: righteous;
    color: rgb(211, 214, 216);

    position: relative;

    top: 15px;
    left: 24%;

    padding: 0px;
}

#line {
    color: aliceblue;

    position: relative;

    top: -15px;
    left: 7%;
}

#LoginMenu {
    width: auto;
    height: 60%;

    position: relative;

    top: 10px;
}

#ListArea {
    width: 73.5%;
    height: 490px;
    float: right;;

    left: -25%;
    top: 20px;

    padding: 0px;

    margin: 0px;
}

.menus {
    border-radius: 20px;

    position: relative;

    background: rgba(44, 44, 44, 0.6);
}

.inputField {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    overflow: hidden;
    background-color: transparent;
    border-bottom: solid;
    border-bottom-color: rgb(255, 169, 138);

    width: 78%;
    height: 25px;

    padding: 0px;

    margin-bottom: 60px;
    margin-left: 10%;
}

.outField:focus-within {
    border-color: transparent;
}

.outField::after {
    content: "";
    display: block;

    height: 3px;
    width: 78%;

    position: relative;

    top: -38px;
    left: 27px;
    
    background: linear-gradient(to left, rgb(64, 245, 164), rgb(9, 228, 240));
    /* background-color: rgb(9, 228, 240); */
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 500ms ease;
}

.outField:hover:after {
    transform: scaleX(1);
}

.outField:focus-within:after {
    background: linear-gradient(to left, rgb(64, 245, 164), rgb(9, 228, 240));
}

.inputLabel {
    z-index: -1;
    color: rgb(255, 12, 12);
    font-family: 'Comfortaa', cursive;

    position: absolute;

    left: 25px;

    transform: translateY(2px);
    transform-origin: 0%;
    transition: transform 400ms;
}

#email {
    position: relative;

    top: 25px;
}

#password {
    position: relative;

    top: 25px;
}

.outField:focus-within .inputLabel,
.inputField:not(:placeholder-shown) + .inputLabel {
    transform: scale(0.8) translateY(0.2rem);
}

#email:valid {
    color: rgb(113, 225, 0);
}

#email:invalid {
    color: rgb(250, 109, 57);
}

#submit {
    border: none;
    border-radius: 20px;

    height: 35px;
    width: 180px;

    position: relative;

    left: 13%;
    top: 25px;

    transition: background 10000ms;
    background: linear-gradient(to left, aqua, seagreen);

}

#submit:hover {
    background: linear-gradient(to right, aqua, seagreen);
}

#alterLink {
    position: relative;

    bottom: -50px;
    left: 10%;
}

.links {
    border: none;
    color: chocolate;
    
    background: transparent;
}