body {
    background-image: url("../misc/images/background.png");
    background-size: 100%;
    /*background: linear-gradient(to right, #20A4F3    , #2234AE);*/
    /* background: linear-gradient(to bottom right, #733391, #1a0125); */
    margin: 0px;
}

dt {
    font-family: 'Space Grotesk', sans-serif, Teko;
    font-size: 23px;
    color: rgba(240, 248, 255, 0.902);
    background: linear-gradient(to right,rgba(0, 100, 0, 0.9), rgba(0, 0, 0, 0.123));
    border-radius: 3px;
    box-shadow: 10px 10px 40px rgb(0, 0, 0);

    width: auto;
    height: 70px;

    margin: 15px;

    padding-left: 15px;
    padding-top: 10px;
}

dt:hover {
    transition: transform 350ms ease;
    transform: scale(1.03);
}

dt:hover::after {
    transition: transform 600ms ease;
    transform-origin: 0%;
    transform: scale(0);
}

.taskBtn {
    border: outset;
    font-size: 25px;
    border-radius: 5px;
    border-color: rgb(226, 43, 226);
    color: rgb(226, 43, 223);

    width: 35px;
    height: 35px;

    position: relative;

    left: 90%;
    top: -60px;

    background: transparent
}

#t1 {
    background-image: "../misc/images/background.png";
    background: linear-gradient(to right, rgba(100, 0, 0, 0.9), rgba(0, 0, 0, 0.123));
}

p {
    font-size: 15px;
    font-family: comfortaa;

    margin-top: 0px
}

#title {
    font-family: cursive;
    font-size: 20px;
    text-align: left;
    color: aliceblue;

    width: auto;
    height: 0px;

    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 60px;

    background: linear-gradient(black, rgba(0, 0, 0, 0.046));
}

#SideMenu {
    float: left;

    width: 270px;
    height: 490px;
    
    left: 77%;
    top: 20px;
}

#userInfoTitle {
    float: left;
    top: 15px;
    left: 24%;

    padding: 0px;
}

#taskTitle {
    position: relative;

    left: 35px;
    top: -5px;
}

#line {
    display: flex;
    flex-shrink: 20px;
    float: left;
    color: aliceblue;

    position: relative;

    top: -15px;
    left: 7%;
}

#lineT {
    color: aliceblue;
    border-bottom: solid;
    border-width: 2px;

    height: 20px;
    width: 94%;

    position: relative;

    top: -25px;
    left: -3%;

    float: right;
}
 
#LoginMenu {
    width: auto;
    height: 60%;

    position: relative;

    top: 10px;
}

#ListArea {
    display: flexbox;
    float: right;

    width: 63.5%;
    height: 485px;

    left: -30%;
    top: 20px;

    padding: 0px;

    margin: 0px;
}

.subTitles {
    font-family: righteous;
    color: rgb(211, 214, 216);

    position: relative;
}

.menus {
    border-radius: 3px;
    border: groove;
    border-width: 2px;
    border-color: rgba(202, 0, 67, 0.24);
    
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(180%) blur(11px);
}

.inputField {
    color: cornsilk;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    overflow: hidden;
    background-color: transparent;
    border-bottom: solid;
    border-bottom-color: rgb(255, 169, 138);

    width: 78%;
    height: 25px;

    padding: 0px;

    margin-bottom: 60px;
    margin-left: 10%;
}

.outField:focus-within {
    border-color: transparent;
}

.outField::after {
    content: "";
    display: block;

    height: 3px;
    width: 78%;

    position: relative;

    top: -38px;
    left: 27px;
    
    background: linear-gradient(to left, rgb(64, 245, 164), rgb(9, 228, 240));
    /* background-color: rgb(9, 228, 240); */
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 500ms ease;
}

.outField:hover:after {
    transform: scaleX(1);
}

.outField:focus-within:after {
    transform: scaleX(1);
    background: linear-gradient(to left, rgb(64, 245, 164), rgb(9, 228, 240));
}

.inputLabel {
    z-index: -1;
    color: rgb(255, 122, 122);
    font-family: 'Comfortaa', cursive;

    position: absolute;

    left: 25px;

    transform: translateY(2px);
    transform-origin: 0%;
    transition: transform 400ms;
}

#email {
    position: relative;

    top: 25px;
}

#password {
    position: relative;

    top: 25px;
}

.outField:focus-within .inputLabel,
.inputField:not(:placeholder-shown) + .inputLabel {
    transform: scale(0.8) translateY(0.2rem);
}

#email:valid {
    color: '';
}

#email:invalid {
    color: rgb(250, 109, 57);
}

#submit {
    border: none;
    border-radius: 20px;

    height: 35px;
    width: 180px;

    position: relative;

    left: 13%;
    top: 25px;

    background-color: aqua;

    transition: background 2s;
}

#submit:hover {
    background-color: rgb(14, 219, 14);
}

#alterLink {
    font-family: 'Titillium Web';
    color: darkgray;
    font-size: 15px;

    position: relative;

    bottom: -50px;
    left: 13%;
}

.links {
    border: none;
    color: chocolate;
    
    background: transparent;
}